<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./style.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Socket.IO chat</title>

    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
  </head>
  <body>
    <div class="chat-container">
      <ul id="messages"></ul>

      <form id="form">
        <input id="input" autocomplete="off" />
        <button>Send</button>
        <button id="toggle-btn">Disconnect</button>
      </form>
    </div>
    <script src="/chat/main.js"></script>
  </body>
</html>